{% extends "base.html" %}
  {% block content %}
    <h4>Recently Observed Blocks</h4>
    <table class="table table-striped table-responsive" id="recentBlocks">
      <thead>
        <tr>
          <th>Height<img src="/static/images/sort.png" /></th>
          <th>Block Hash<img src="/static/images/sort.png" /></th>
          <th>Size (bytes)<img src="/static/images/sort.png" /></th>
          <th>Transactions<img src="/static/images/sort.png" /></th>
          <th>Block Time<img src="/static/images/sort.png" /></th>
        </tr>
      </thead>
      <tbody>
        {% for block in blocks %}
        <tr>
          <td>{{ block['height'] | int }}</td>
          <td><a href="/block?search={{ block['hash'] }}" style="text-decoration: none;">{{ block['hash'] }}</a></td>
          <td>{{ block['size'] | int }}</td>
          <td>
            {{ block['txs']|length }}
          </td>
          <td>{{ block['time'] | timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
   </table>
   <button class="pull-right btn btn-default" id="moreBlocks">See more blocks</button>
  {% endblock %}
